APP_NAME=
APP_ENV=production
APP_PORT=8000
APP_DEBUG=false

# Clave interna para que solo tu ERP llame /notify
ERP_API_KEY=

# WhatsApp Cloud API
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
WHATSAPP_API_VERSION=v22.0

REQUEST_TIMEOUT_SECONDS=20
SQLITE_PATH=./notifications.db
